@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_keyframes.scss" as *;

.callback {
    @include flex-box(column, center, center);
    width: 100%;
    gap: $mobile-spacing;
    padding-top: 2rem;
    animation: 0.75s ease-out 0s 1 slide-fade-top;

    @include tablet {
        gap: $tablet-spacing;
    }

    @include desktop {
        gap: $desktop-spacing;
    }

    &__actions {
        @include flex-box(row, space-around, center);
        width: 100%;
        padding: $mobile-spacing;

        @include tablet {
            padding: $tablet-spacing;
        }

        @include desktop {
            padding: $desktop-spacing;
        }
    }
}

.user {
    @include flex-box(column, flex-start, center);
    gap: $s-gap;
    
    &--name {
        gap: 0;
    }

    &__text, &--email {
        font-weight: 500;
        font-style: italic;
    }
}

.playlists {
    @extend .callback;
    @extend .user;
    background-color: $secondary-bckgd;
    padding: $mobile-spacing 0;
    gap: $mobile-spacing;

    &__header {
        padding-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__list {
        @include flex-box(row, center, center, null, wrap);
        width: 100%;
        gap: 2rem;
        padding: $mobile-spacing;
    }
}