@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_typography.scss" as *;

//TODO: figure out typography standards later? 

.login {
    @include flex-box(column, center, center);
    width: 100%;
    gap: $mobile-spacing;

    &__blurb {
        @extend .login;
    }

    &__header {
        text-align: center;
        padding-bottom: $mobile-spacing;
    }
    
    &__subheader {
        text-align: center;
        padding-bottom: 0.75rem;
    }
}