@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_keyframes.scss" as *;

.playlist {
    @include flex-box(column, center, center);
    width: 100%;
    gap: $s-gap;
    
    &__overview {
        @include flex-box(row, center, center);
        width: 100%;
        gap: 3rem;

        &:hover {
            cursor: pointer;
        }
    }

    //FIXME: IS THIS NEEDED? do I have to change/include &__item?
    &__url {
        animation: margin 0.3s ease;
    }

    &__hover-block {
        display: flex;
        justify-content: center;
        animation: 1s ease-out 0s 1 slide-fade-top;
        transform-style: preserve-3d;
        transform: rotateY(var(--rotate-y, 0));
        transition: 0.3s;
        cursor: pointer;

        @include tablet {
            transform: none;
        }

        &--open {
            border-radius: 2rem;
            --rotate-y: 180deg;

            @include tablet {
                --rotate-y: 0deg;
            }
        }
    }

    &__cover {
        width: 60%;
        border-radius: 2rem;
        animation: 1s ease-out 0s 1 slide-fade-top;
        backface-visibility: hidden;

        &--slide {

            @include tablet {
                transform: translateX(-40%);
            }
        }
    }

    &__text {
        font-size: 1.125rem;

        &--details {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    &__top-artists {
        background-color: $secondary-bckgd;
        width: 60%;
        height: 100%;
        border-radius: 2rem;
        animation: 1s ease-out 0s 1 slide-fade-top;
        position: absolute;
        z-index: -1;
        padding: 1rem;
        backface-visibility: hidden;
        transform: rotateY(180deg);

        @include tablet {
            transform: rotateY(0deg);
        }

        &--slide {
            @include tablet {
                transform: translateX(40%);
            }
        }
    }

    &__url {
        font-size: 0.75rem;
    }
}

.friends {
    width: 100%;
    @include flex-box(column, center, center);
    gap: $xs-gap;
    position: relative;

    &__header {
        font-size: 1.125rem;
        color: blueviolet;
    }

    &__list-container {
        @include flex-box(column, center, center, space-betweeen, wrap);
        gap: $xs-gap;
    }

    &__list {
        @include flex-box(row, center, center, center, wrap);
        gap: $xs-gap;
    }
}

.friend {
    @include flex-box(row, center, center, center);
    gap: $xs-gap;

    &__name {
        font-size: 1rem;
        font-weight: bold;
        // color: black;
    }

    &__pic-div {
        max-width: 4rem;
        min-width: 4rem;
        max-height: 4rem;
        min-height: 4rem;
        border-radius: 50%;
        border: .1875rem solid gray;
        overflow: hidden;

        &--default {
            color: gray;
            background-color: gray;
        }
    }

    &__pic {
        height: 4rem;
        width: 4rem;
        object-fit: cover;
        object-position: center;
        color: gray;

        &--default {
            background-color: gray;
        }
    }
}

.concerts {
    @include flex-box(column, center, center, center);
    width: 100%;
    padding: $mobile-spacing;
    gap: $mobile-spacing;
    background-color: $teal;

    &__list {
        @include flex-box(row, center, center, center, wrap);
        width: 100%;
        padding: $mobile-spacing;
        gap: $mobile-spacing;
    }
}

.concert {
    @include flex-box(column, center, center);
    @include basic-rounded-border;
    @include shadow;
    width: 100%;
    padding: $xs-gap;
    background-color: $primary-neutral;

    &__main {
        @include flex-box(row, flex-start, center, center);
        width: 100%;
        gap: $s-gap;
    }
    
    &__image-div {
        border-radius: 50%;
        overflow: hidden;
    }
    
    &__image {
        @include basic-rounded-border;
        padding: 0rem;
        width: $concert-img-mobile;
        height: $concert-img-mobile;
        object-fit: cover;
    }
    
    &__name {
        max-width: 60%;
        text-align: left;
        color: $primary-accent;
        font-size: .9375rem;
    }
    
    &__popup {
        @extend .concert;
        box-shadow: none;
        padding: 0;
        gap: $s-gap;
    }

    &__info {
        width: 100%;
        padding: $xs-gap;
    }

    &__text-div {
        @include flex-box(row, flex-start, center);
        width: 100%;
        gap: $s-gap;
    }

    &__text {
        color: $secondary-text;
        font-size: .8125rem;
        font-weight: 600;

        &--bold {
            color: $secondary-bckgd;
            font-size: .875rem;
            font-weight: 700;
        }
    }

    &__btns {
        @include flex-box(row, center, center);
        width: 100%;
        gap: $xs-gap;
    }
}