@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_keyframes.scss" as *;

.playlist {
    @include flex-box(column, center, center);
    width: 100%;
    background-color: $secondary-accent;

    &__overview {
        @include flex-box(column, flex-start, center);
        width: 100%;
        gap: $xs-gap;
        padding: $mobile-spacing;
        background-color: $secondary-accent;

        &:hover {
            cursor: pointer;
        }
    }

    &__card {
        @include flex-box(row, center);
        width: 100%;
        position: relative;
        // gap: $xs-gap;
        // @include flex-box(column, flex-start, center);
        // text-align: center;
        // gap: $s-gap;
    }

    &__url {
        width: 100%;
    }

    &__title {
        text-align: center;
        color: $primary-accent;
        font-size: 2rem;
        padding: $mobile-spacing;
    }

    &__action-btns {
        @include flex-box(column, space-around, center);
        height: 100%;
        gap: $xs-gap;
        color: $primary-neutral;
        position: absolute;
        // max-height: 65%;
        // bottom: 0;
        right: 12%;
    }

    &__action-btn {
        text-align: center;
        .hover-text {
            display: none;
            position: absolute;
            right: 25%; //adjust if needed
            z-index: 5;
        }

        &:hover .hover-text {
            display: block;
            background-color: rgba(0, 0, 0, 0.7);
            padding: $mobile-spacing;
            border-radius: .5rem;

            //FIXME: clean up variables and also fix font
        }
    }
}

.material-symbols-outlined {
    @include shadow;
    background-color: $primary-accent;
    padding: $xs-gap;
    border-radius: 50%;
    color: $primary-bckgd;

    &--link {
        background-color: inherit;
        background-color: $primary-accent;
        opacity: 85%;
    }

    &--group {
        background-color: inherit;
        background-color: $primary-accent;
        opacity: 85%;
    }

    &--last-page {
        background-color: inherit;
        background-color: $primary-accent;
        opacity: 85%;

        .hover-text {
            display: none;
            position: absolute;
            right: 50%;
        }

        &:hover .hover-text {
            display: block;
        }
    }

    &--close {
        box-shadow: none;
        padding: 0.25rem;
        opacity: 85%;
        background-color: $primary-neutral;
        color: $primary-accent;
        position: relative;
        left: 0.5rem;
        bottom: 0.5rem;
    }

    &--circle-down {
        justify-self: flex-end;
        padding: 0.75rem;
    }
}

.friends {
    @include flex-box(column, space-evenly, center);
    @include shadow;
    width: 95%;
    // width: 75%;
    gap: $xs-gap;
    padding: $mobile-spacing;
    border-radius: $border-radius-m;
    background-color: $secondary-bckgd;
    position: relative;

    &__top {
        @include flex-box(row, space-between, flex-start);
        width: 100%;
    }

    &__header-div {
        width: 100%;
        text-align: center;
        padding: $xs-gap;
    }

    &__header {
        font-size: 1.625rem;
        color: $primary-neutral;
    }

    &__asterisk {
        font-size: .625rem;
    }

    &__list {
        @include flex-box(row, center, center, center, wrap);
        width: 100%;
        padding: 0 $mobile-spacing $mobile-spacing $mobile-spacing;
        gap: $xs-gap;
    }
}

.concerts {
    @include flex-box(column, center, center, center);
    width: 100%;
    text-align: center;
    gap: $mobile-spacing;
    padding: $mobile-spacing 0;
    cursor: pointer;

    &__suggestions {
        @include flex-box(row, center, center, center, wrap);
        background-color: $secondary-bckgd;
        padding: $mobile-spacing 0;
        gap: $s-gap;
    }

    &__btn-div {
        padding: $mobile-spacing 0;
    }

    &__list {
        @include flex-box(row, center, center, center, wrap);
        width: 90%;
        gap: $mobile-spacing;
    }

    &__header {
        padding: $mobile-spacing 0;
    }
}

// .concert {
//     @include flex-box(column, center, center);
//     @include basic-rounded-border;
//     @include shadow;
//     width: 100%;
//     padding: $xs-gap;
//     background-color: $primary-neutral;

//     &__main {
//         @include flex-box(row, flex-start, center, center);
//         width: 100%;
//         gap: $s-gap;
//     }

//     &__image-div {
//         border-radius: 50%;
//         overflow: hidden;
//     }

//     &__image {
//         @include basic-rounded-border;
//         padding: 0rem;
//         width: $concert-img-mobile;
//         height: $concert-img-mobile;
//         object-fit: cover;
//     }

//     &__name {
//         max-width: 60%;
//         text-align: left;
//         color: $primary-accent;
//         font-size: .9375rem;
//     }

//     &__popup {
//         @extend .concert;
//         box-shadow: none;
//         padding: 0;
//         gap: $s-gap;
//     }

//     &__info {
//         width: 100%;
//         padding: $xs-gap;
//     }

//     &__text-div {
//         @include flex-box(row, flex-start, center);
//         width: 100%;
//         gap: $s-gap;
//     }

//     &__text {
//         color: $secondary-text;
//         font-size: .8125rem;
//         font-weight: 600;

//         &--bold {
//             color: $secondary-bckgd;
//             font-size: .875rem;
//             font-weight: 700;
//         }
//     }

//     &__btns {
//         @include flex-box(row, center, center);
//         width: 100%;
//         gap: $xs-gap;
//     }
// }