@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_keyframes.scss" as *;

.playlist {
    width: 100%;
    @include flex-box(column, center, center);
    gap: 1rem;

    &__overview {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        // @include flex-box(row, space-betweeen, center);


        &:hover {
            cursor: pointer;
        }
    }

    &__url {
        animation: margin 0.3s ease; 
    }

    &__hover-block {
        display: flex;
        justify-content: center;
        animation: 1s ease-out 0s 1 slide-fade-top;
        transform-style: preserve-3d;
        transform: rotateY(var(--rotate-y, 0));
        cursor: pointer;
        transition: 0.3s;

        @include tablet {
            transform: none;
        }
        &--open {
            // background-color: $secondary-color-background;
            border-radius: 2rem;
            --rotate-y: 180deg;

            @include tablet {
                --rotate-y: 0deg;
            }
        }
    }

    &__cover {
        // padding: $xs-gap 0;
        width: 60%;
        border-radius: 2rem;
        animation: 1s ease-out 0s 1 slide-fade-top;
        // position: absolute;
        // padding: 1rem;
        backface-visibility: hidden;

        &--slide {

            @include tablet {

                transform: translateX(-40%);
            }
        }
    }

    &__text {
        font-size: 1.125rem;
        color: blueviolet;

        &--details {
            font-size: 1rem;
            font-weight: bold;
            color: black;
        }
    }



    &__top-artists {
        background-color: $secondary-color-background;
        width: 60%;
        height: 100%;
        border-radius: 2rem;
        animation: 1s ease-out 0s 1 slide-fade-top;
        position: absolute;
        z-index: -1;
        padding: 1rem;
        backface-visibility: hidden;
        transform: rotateY(180deg);

        @include tablet {
            transform: rotateY(0deg);
        }

        &--slide {
            @include tablet {
                transform: translateX(40%);
            }
        }

    }

    &__url {
        font-size: 0.75rem;
    }
}

.friends {
    width: 100%;
    @include flex-box(column, center, center);
    gap: $xs-gap;
    position: relative;

    &__header {
        font-size: 1.125rem;
        color: blueviolet;
    }

    &__list-container {
        @include flex-box(column, center, center, space-betweeen, wrap);
        gap: $xs-gap;
    }

    &__list {
        @include flex-box(row, center, center, center, wrap);
        gap: $xs-gap;
    }
}

.friend {
    @include flex-box(row, center, center, center);
    gap: $xs-gap;

    &__name {
        font-size: 1rem;
        font-weight: bold;
        color: black;
    }

    &__pic-div {
        max-width: 4rem;
        min-width: 4rem;
        max-height: 4rem;
        min-height: 4rem;
        border-radius: 50%;
        border: .1875rem solid gray;
        overflow: hidden;

        &--default {
            color: gray;
            background-color: gray;
        }
    }

    &__pic {
        height: 4rem;
        width: 4rem;
        object-fit: cover;
        object-position: center;
        color: gray;

        &--default {
            background-color: gray;
        }
    }
}

.concerts {
    @include flex-box(column, center, center, center);
    width: 100%;
    padding: $mobile-spacing;
    gap: $mobile-spacing;

    &__list {
        @include flex-box(row, center, center, center, wrap);
        width: 100%;
        padding: $mobile-spacing;
        gap: $mobile-spacing;
    }
}

.concert {
    @include basic-rounded-border;
    background-color: $primary-accent;
    @include flex-box(row, space-around, center, center);
    width: 100%;
    // min-width: 10rem;
    // min-height: 25rem;
    // max-height: 25rem;
    gap: $xs-gap;
    padding: $mobile-spacing 1.5rem;
    text-align: center;

    &__image-div {
        border-radius: 1rem;
        // max-height: 9rem;
        overflow: hidden;
    }

    &__image {
        @include basic-rounded-border;
        width: 100px;
        height: 100px;
        // flex-grow: 1;
        object-fit: contain;
    }

    &__info {
        width: 100%;
        display: block;
        text-align: left;
        padding: $mobile-spacing;
    }

    &__text {

        &--bold {
            font-weight: 600;
        }
    }

    &__btns {
        @include flex-box(row, center, center);
        width: 100%;
        gap: $xs-gap;
    }
}