@use "./styles/partials/_variables.scss" as *;
@use "./styles/partials/_mixins.scss" as *;
@use "./styles/partials/_typography.scss" as *;


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.app {
	@include flex-box(column, space-between, center);
	width: 100%;
	min-height: 100vh;
	// @include flex-box(column, flex-start, center);
	// gap: $mobile-spacing;
	// padding: $mobile-spacing;
	
	@include tablet {
		gap: $tablet-spacing;
		// padding: $tablet-spacing;
	}

	@include desktop {
		gap: $desktop-spacing;
		// padding: $desktop-spacing;
	}

	&__header-container {
		justify-self: flex-start;
	}

	&__footer-container {
		justify-self: flex-end;
		text-align: center;
	}
}

body {
    font-family: sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
	line-height: 1rem;
	background-color: $primary-bckgd;
}

ul,ol,li {
	list-style: none;
}

a,
button {
	text-decoration: none;
	text-align: center;

	&:hover {
		cursor: pointer;
	}

	&:link,
	&:visited {
		text-decoration: none;
		color: inherit;
	}
}

input,
textarea {
	font-family: sans-serif;
	font-size: 0.6875rem;
	font-weight: 400;
	line-height: 1rem;
	text-align: center;
	color: gray;
	padding: $xs-gap;
	border-radius: $xs-gap;
	border: .0625rem solid gray;
}

.message {

	&--small {
		color: $primary-accent;
		text-align: left;
		font-size: .5625rem;
	}
}