@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_keyframes.scss" as *;

.concert {
    @include flex-box(column, center, center);
    @include basic-rounded-border;
    @include shadow;
    min-height: 6.375rem;
    width: 100%;
    padding: $mobile-spacing;
    background-color: $primary-neutral;
    position: relative;

    .hover-text {
        display: none;
        position: absolute;
        bottom: 0;
        z-index: 5;
        color: white;
    }

    &:hover .hover-text--hover {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $overlay-bckgd;
    }

    &__main {
        @include flex-box(row, flex-start, center, center);
        width: 100%;
    }

    &__left {
        width: 100%;
        @extend .concert__main;
        gap: $s-gap;
    }

    &__image-div {
        border-radius: 50%;
        overflow: hidden;
    }

    &__image {
        @include basic-rounded-border;
        padding: 0rem;
        width: $concert-img-mobile;
        height: $concert-img-mobile;
        object-fit: cover;
    }

    &__name {
        max-width: 60%;
        text-align: left;
        color: $primary-accent;
        font-size: .9375rem;
    }

    &__popup {
        @extend .concert;
        @include flex-box(row, space-between, center, center);
        width: 100%;
        padding: 0;
        box-shadow: none;
    }

    &__text-div {
        @include flex-box(row, flex-start, center);
        gap: $s-gap;
    }

    &__text {
        color: $secondary-text;
        font-size: .8125rem;
        font-weight: 600;

        &--bold {
            color: $secondary-bckgd;
            font-size: .875rem;
            font-weight: 700;
        }
    }

    &__btns {
        @include flex-box(column, center, center);
        gap: $xs-gap;
    }
}

.concert-btn {
    @include flex-box(row, center, center);
    padding: 0.75rem;
    background-color: rgb(213, 235, 243);
    background-color: $secondary-accent;
    background-color: $secondary-bckgd;
    color: $primary-bckgd;
}

.modal {
    background-color: $overlay-bckgd;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &__content {
        padding: $mobile-spacing;
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $s-gap;
        background-color: white;
        border-radius: 1rem;
        position: relative;
    }

    &__close {
        padding: $xs-gap;
        border-radius: 50%;
        background-color: $primary-neutral;
        border-color: $primary-neutral;
        color: $primary-accent;
        position: absolute;
        right: 0.75rem;
        top: 0.75rem;
    }

    &__concert-details {
        width: 100%;
        text-align: left;
    }
}

.invite {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $s-gap;

    &__form {
        @extend .invite;
    }

    &__label {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        color: $teal; //
        font-weight: 600;
    }

    &__input {
        @include shadow;
        background-color: $primary-neutral;
        opacity: 85%;
        border: 2px solid $primary-accent;
    }

    &__submit {
        @include shadow;
        @include btn-default;
        border: 2px solid $primary-accent;
    }
}

.review {
    &__email-list {
        word-wrap: break-word;
        word-break: break-word;
    }
}