@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_keyframes.scss" as *;

.invite {
    @include shadow;
    @include basic-rounded-border($border-rad: $border-radius-s);
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: $s-gap;
    background-color: $secondary-accent;

    &__form {
        @extend .invite;
    }
    
    &__label {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        color: $teal; //
        font-weight: 600;
    }
    
    &__input {
        // @include shadow;
        width: 100%;
        background-color: $primary-neutral;
        opacity: 85%;
        border: 2px solid $primary-accent;
    }

    &__submit {
        // @include shadow;
        @include btn-default;
        border: 2px solid $primary-accent;
    }
}

.review {
    &__email-list {
        word-wrap: break-word;
        word-break: break-word;
    }
}