@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_keyframes.scss" as *;

.playlists {

    &__item {
        margin: 1rem;
        background-color: $secondary-color-background;
        // border: solid 2px $secondary-color-dark;
        border-radius: 2rem;
        transition: 0.5s;
        width: 80%;
        height: 50vh;

        &:hover {
            transform: translateY(-2%);
        }
    }

    &__playlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        
    }

    &__cover {
        width: 70%;
        padding: 1rem;
        border-radius: 2rem;
    }
}