@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.btn {
    @include btn-default;
    @include shadow;

    &--no-borders {
        @include flex-box(row, center, center);
        min-width: 0;
        width: 2.5625rem;
        height: 2.5625rem;
        border: 0;
        background-color: rgb(213, 235, 243);
    }
}