@use 'variables' as *;

/*mixins for media breakpoints*/
@mixin tablet {
    @media screen and (min-width: $tablet-min) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-min) {
        @content;
    }
}

/*Flexbox*/
@mixin flex-box($dir: row,
    $justifyContent: null,
    $alignItems: null,
    $alignContent: null,
    $wrap: null,
    $grow: null) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justifyContent;
    align-items: $alignItems;
    align-content: $alignContent;
    flex-wrap: $wrap;
    flex-grow: $grow;
}

/* Styles? */
//rounded borders
@mixin basic-rounded-border($border-thickness: 0, $border-rad: $border-radius-l, $border-colour: lightgray) {
    border: $border-thickness solid $border-colour;
    border-radius: $border-rad;
    padding: $mobile-spacing;
}

//box-shadow
@mixin shadow {
    box-shadow: 0.25rem 0.25rem .625rem rgba(0, 0, 0, 0.3);
}

//buttons
@mixin btn-default($colour: $primary-neutral, $border-thickness: $border-radius-xs, $text-colour: $primary-accent) {
    border: $border-width-reg solid $colour;
    background-color: $colour;
    border-radius: $border-thickness;
    color: $text-colour;
    font-weight: bold;
    min-width: 6.25rem;
    padding: 0.75rem $mobile-spacing;
}