//media breakpoints
$tablet-min: 48rem;
$desktop-min: 80rem;

//standards for spacing
$mobile-spacing: 1rem;
$tablet-spacing: 2rem;
$desktop-spacing: 3rem;

$xs-gap: 0.5rem;

// color codes - can change
// once we decide palette!

$primary-color-background:#FCF9ED;
$primary-color-background-dark: #EBCAAD;
$primary-color-text: #302F4D;

$secondary-color-background: #A7BBEC;
$secondary-color-dark: #6E7687;