@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_keyframes.scss" as *;

.modal {
    background-color: $overlay-bckgd;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &__content {
        padding: 2rem;
        width: 75%;
        max-width: 25rem;
        min-height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: $s-gap;
        background-color: $primary-bckgd;
        border-radius: 1rem;
        position: relative;
        
        
        @include desktop {
            max-width: 37.5rem;
        }
    }

    &__close {
        padding: $xs-gap;
        border-radius: 50%;
        background-color: $primary-neutral;
        border-color: $primary-neutral;
        color: $primary-accent;
        position: absolute;
        right: 0.75rem;
        top: 0.75rem;
    }

    &__title {
        padding: $mobile-spacing;
        color: $secondary-accent;
    }

    &__details {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: $s-gap;
    }
}